.banner {

	display: block;
	text-align: center;
	position: relative;
	max-width: 100%;
	height: 212px;
	background-position: 60% 50%;
	background-size: cover;
	background-image: url("https://www.rwsentosa.com/rwsinvites/-/media/project/non-gaming/rwsinvites/images/main/rwsinvites-road-kv-1366x666px-invi0850invites.jpg?mh=666&la=en&h=666&w=1366&mw=1366&hash=B7EC5509BE8894CD2A017037277C60212F76921C");
}

.aboutus {
	display:block;
	position:relative;
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
	font-family: "Open sans", sans-serif;
	font-size: 18px;
	font-weight: 700;
}

.intro {
	display:block;
	font-family: "Open sans", sans-serif;
	font-size: 13px;
	text-align: center;
	margin-bottom: 50px;

}

.brand {
	font-weight: 800;
	text-transform: uppercase;
}

.getstarted {
	display:block;
	position:relative;
	margin: auto;
	text-align: center;
	font-family: "Open sans", sans-serif;
	font-size: 16px;
	font-weight: 700;
	border: 3px solid #111111;
	padding: 9px 20px;
	max-width: 285px;
}

#carlogo {
	margin-right:10px;
}

.team {
	display: block;
	text-align: center;
	margin: auto;
	margin-top: 40px;
	font-family: "Open sans", sans-serif;
	font-size: 18px;
	font-weight: 700;

}

.founderimage {
	background-image: url("https://web.whatsapp.com/pp?e=https%3A%2F%2Fpps.whatsapp.net%2Fv%2Ft61.24694-24%2F65813642_1402177466623190_459894983407697920_n.jpg%3Foe%3D5D7C5A15%26oh%3Dbf318b4ae60c7fe6b0d70aa308fb15c8&t=l&u=6581250830%40c.us&i=1565789780");
	display: block;
	position: relative;
	max-width: 240px;
	border-radius: 200px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 0px;
	height: 230px;
	background-position: 50% 50%;
	background-size: cover;
}

.foundername {
	display: block;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	font-family: "Open sans", sans-serif;
	font-size: 18px;
	font-weight: 700;
}
.founder {
	display: block;
	text-align: center;
	margin: auto;
	margin-top: 5px;
	font-family: "Open sans", sans-serif;
	font-size: 13px;
	font-weight: lighter;
	font-style: italic;
}

.links {
	display: block;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	border-top: 2px solid #efefef;
	border-bottom: 2px solid #efefef;
	padding: 9px 20px;
	max-width: 130px;
}

#linkspace{
	padding: 0px 7px;
}


@media only screen and (min-width: 780px) {
	.banner {
		height: 400px ;
	}
}