.input{
  padding:5px;
  width:60%;
  border: solid 1px black;
  border-radius: 5px;
  position: relative;
  margin:auto;
  left: 50%;
  transform: translateX(-50%);
}
.question {
	margin-top: 10px;
	text-align: center;
}

#filterResult {
	font-size: 10px;
	width: 60%;
	left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.nosearch {
	text-align: center;
}